.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  
  .navbar li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-left: 4px solid transparent;
    border-radius: 5px;
   
  }
  
  .navbar li:hover {
    background-color: rgba(242, 242, 242,0.1);
  }
  
  .navbar li.active {
    border-left: 4px solid white;

  }
  
  .arrow {
    border: 2px solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin: 6px;
    width: 5px;
    height: 5px;
  }
  